$themeColor-Light: #fff7e9;
$themeColor-Dark: #2e294e;
$themeColor-Logo: #fae4be;
$themeColor-Links: $themeColor-Dark;
$themeColor-PriceStandout: #d5a946;

$border-color-general: #d7d7d7;
$themeColor-Attention: #d90368;
$themeColor-InterActionsRed: #ff5252;
$themeColor-Shine: #ffd400;
$fontWeight-Bold: 600;
$fontWeight-Light: 300;
$fontSize-Large: 20px;
$fontSize-MediumLarge: 18px;
$fontSize-General:16px;
$fontSize-Tiny:9px;
$row: 9px;
$rows: $row;
$column: 20px;
$columns: $column;

$small: "(max-width: 499px)";
$examples-vertical: "(max-width: 719px)";